################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Zadatak_Novena
/bin/Debug/net8.0
/obj
