@{
    ViewData["Title"] = "Home Page";
}


<div class="main-top">
    @* <img src="img\popartandywarholmarilyn.jpg" /> *@
    <div class="top-info">
        <h2>Dobrodošli!</h2>
        <p>Osnovna misija današnjega Narodnog muzeja Zadar obuhvaća sustavno sakupljanje, čuvanje, izlaganje, dokumentiranje, te stručnu i znanstvenu obradu pokretnih i nepokretnih predmeta civilizacijske, kulturne i prirodne baštine, nastale u razdoblju</p>
    </div>
    <div class="main-icons">
        <h2>Posjetite nas</h2>
        <i></i>
        <span>Gdje smo</span>
        <i></i>
        <span>Audio vodič</span>
        <i></i>
        <span>Info</span>
    </div>
</div>
<div class="main-aktualnosti">
    <div class="aktualnosti">

        <h2>Aktualnosti</h2>
        <span>Vidi više <span uk-icon="chevron-right"></span></span>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-width-1-4 aktualnosti-card">
                <div class="card-img">
                    <img src="img/Izbor_iz_zbirki_Galerije_umjetnina.jpg" />
                    <span>12.1.2018. - 12.2.2018.</span>
                    <span class="color-span"></span>
                </div>
                <span>IZLOŽBE</span>
                <h3>Izložba Ivana Mažuranića - Kiparske inspiracije</h3>
                <h4>Galerija umjetnina</h4>
                <button>Vidi više</button>
            </div>
            <div class="uk-width-1-4 aktualnosti-card">
                <div class="card-img">
                    <img src="img/foto_Billy_Name_1529323525.jpg" />
                    <span>22.6.2018.</span>
                </div>
                <span>PREDAVANJA</span>
                <h3>Andy Warhol: The King of Pop Art</h3>
                <h4>Kneževa palača</h4>
                <button>Vidi više</button>
            </div>
            <div class="uk-width-1-4 aktualnosti-card">
                <div class="card-img">
                    <img src="img/thumb_760_0x600_0_0_auto.jpg" />
                    <span>12.1.2018. - 12.2.2018.</span>
                </div>
                <span>KONCERTI</span>
                <h3>Razigrane žice</h3>
                <h4>Kneževa palača</h4>
                <button>Vidi više</button>
            </div>
            <div class="uk-width-1-4 aktualnosti-card">
                <div class="card-img">
                    <img src="img/oglas_15_minutes_1527238997.jpg" />
                    <span>25.6.2018.</span>
                </div>
                <span>OSTALO</span>
                <h3>Natječaj: 15 minutes of fame</h3>
                <h4>Kneževa palača</h4>
                <button>Vidi više</button>
            </div>
        </div>
    </div>
</div>