@{
    ViewData["Title"] = "Home Page";
}


<div class="main-top">
    @* <img src="img\popartandywarholmarilyn.jpg" /> *@
    <div class="top-info">
        <h2>Dobrodošli!</h2>
        <p>Osnovna misija današnjega Narodnog muzeja Zadar obuhvaća sustavno sakupljanje, čuvanje, izlaganje, dokumentiranje, te stručnu i znanstvenu obradu pokretnih i nepokretnih predmeta civilizacijske, kulturne i prirodne baštine, nastale u razdoblju</p>
    </div>
    <div class="main-icons">
        <h2>Posjetite nas</h2>
        <i></i>
        <span>Gdje smo</span>
        <i></i>
        <span>Audio vodič</span>
        <i></i>
        <span>Info</span>
    </div>
</div>
<div class="main-aktualnosti">
    <div class="aktualnosti">

    <h2>Aktualnosti</h2>
    <span>Vidi više <span uk-icon="chevron-right"></span></span>
    <div>
        kartice
    </div>
    </div>
</div>