
<div class="povijest">
    <div class="pov-top">
        <div class="pov-breadcrumb">
            <a href="/">O muzeju</a>
            <span uk-icon="chevron-right"></span>
            <span>Povijest muzeja</span>
        </div>
        <h1>Galerija umjetnina</h1>
    </div>
    <div class="pov-contacts-div">
        <div class="pov-contacts">
            <div uk-grid>
                <div class="uk-width-1-1@xs uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l">
                    <div class="contact-card">
                        <p>
                            <strong>Otvoreno za posjetitelje</strong><br />
                            Galerija umjetnina<br />
                            Ponedjeljak, utorak, četvrtak, petak: 9 - 13 Srijeda: 15 – 19<br />
                            Subotom i Nedjeljom zatvoreno.
                        </p>
                    </div>
                </div>
                <div class="uk-width-1-1@xs uk-width-1-2@s uk-width-1-4@m uk-width-1-5@l">
                    <div class="contact-card">
                        <p>
                            <strong>Kontaktirajte nas</strong><br />
                            T. 023/211-174<br />
                            F. 023/211-174
                        </p>
                    </div>
                </div>
                <div class="uk-width-1-1@xs uk-width-1-2@s uk-width-1-4@m uk-width-1-5@l">
                    <div class="contact-card">
                        <p>
                            <strong>Adresa</strong><br />
                            Medulićeva 2<br />
                            23000 Zadar
                        </p>
                    </div>
                </div>
                <div class="uk-width-1-1@xs uk-width-1-2@s uk-width-1-2@m uk-width-1-5@l">
                    <div class="contact-card">
                        <p>
                            <strong>Nevena Štokić</strong><br />
                            kustosica<br />
                            voditeljica Galerije umjetnina<br />
                            nevena.stokic@nmz.hr
                        </p>
                    </div>
                </div>
                <div class="uk-width-1-1@xs uk-width-1-2@s uk-width-1-2@m uk-width-1-5@l">
                    <div class="contact-card">
                        <p>
                            <strong>Koraljka Alavanja</strong><br />
                            kustosica<br />
                            Galerija umjetnina<br />
                            koraljka.alavanja@nmz.hr
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pov-main">
        <div class="uk-grid uk-grid-medium">
            <article class="pov-article uk-width-3-5@l">
                <figure>
                    <img src="\img\4bdg0gjp.png" />
                    <figcaption>Potpis ispod slike</figcaption>
                </figure>
                <div>
                    <p>Galerija umjetnina osnovana je nakon Drugoga svjetskog rata u potpuno razorenom gradu 10. listopada 1948. Od osnutka do 1963. bila je samostalna ustanova. Prva je institucija takve vrste u Zadru koja se bavi skupljanjem, čuvanjem i predstavljanjem umjetničke građe, najvećim dijelom XX. stoljeća. Bez likovne aktivnosti i tradicije, počinjalo se ispočetka. Zbog nesretnih povijesnih razloga likovno stvaralaštvo Zadra ne oslanja se na kontinuirani razvoj za razliku od gradova kojih se suvremeno likovno stvaralaštvo naslanja na snažnu umjetničku tradiciju. Stoga je bila neprocjenjivo vrijedna ideja osnivanja Galerije umjetnina. Fundus od 80 radova u početku narastao je otkupima i donacijama na 1.700 umjetničkih predmeta. Tomu treba dodati oko 30.000 negativa fotoreporterskog opusa Ante Brkana.</p>
                    <p>Galerija u svom fundusu posjeduje umjetnine XVII., XVIII. i XIX. st. te čuveni „Ugljanski triptih“ iz XIII. st. (stalna posudba SICU), a najveći dio pripada XX. stoljeću. Građa je podijeljena na: Zbirku starog slikarstva, Zbirku ikona, Zbirku umjetnosti XIX. i XX. st. (do 1945.), Zbirku suvremene umjetnosti, Zbirku negativa Ante Brkana i Zbirku fotografija. Galerija je od osnivanja smještena u Providurovoj palači, Medulićeva 2/1 te raspolaže s 665 m². Od toga spremišta za umjetnine i praktikable zapremaju 106 m², izložbeni prostori: 257 m², uredi: 37,5 m².</p>
                    <p>Muzejsko-galerijsko poslanje Galerije obuhvaća skupljanje umjetnina uglavnom s područja Hrvatske, čuvanje građe, istraživanje i predstavljanje fundusa i izložbeno-prezentacijsku djelatnost. Fundus je dosad prezentiran u šest tematskih cjelina: pedesetih godina izložena je inicijalna građa - ikone i hrvatski, uglavnom dalmatinski slikari, potom Hrvatsko slikarstvo od XIX. stoljeća do pedesetih godina, Slikarstvo na tlu Jugoslavije od 1945. do 1975., Dalmatinsko slikarstvo od 1850. do 1977., Slikarstvo i kiparstvo u Jugoslaviji od 1918. do 1980. te Hrvatsko slikarstvo i kiparstvo XIX. i XX. stoljeća.</p>
                </div>
            </article>
            <aside class="pov-aside uk-width-2-5@l">
                <div class="uk-grid uk-grid-medium">
                    <div class="uk-width-1-1@xs uk-width-1-2@s uk-width-1-3@m uk-width-1-1@l">
                        <div class="aside-div">
                            <h2>Tekuće izložbe i događanja</h2>
                            <a><span uk-icon="chevron-left"></span> Izložba “Izbor iz zbirki galerije umjetnina 21.5.2018. - 22.6.2018.</a>
                            <hr />
                            <a>Interaktivna radionica “Zalistavac-Semi-Nola Patchwork” 12.4.2018. - 28.4.2018.</a>
                            <hr />
                            <a>Predavanje o fotografiji Braće Brkan 5.3.2018.</a>
                        </div>
                    </div>
                    <div class="uk-width-1-1@xs uk-width-1-2@s uk-width-1-3@m uk-width-1-1@l">
                        <div class="aside-div">
                            <h2>Zbirke Galerije umjetnina</h2>
                            <a>Zbirka ikona</a>
                            <hr />
                            <a>Zbirka starog slikarstva</a>
                            <hr />
                            <a>Zbirka XIX. st. i prve polovice XX. stoljeća</a>
                            <hr />
                            <a>Zbirka suvremene umjetnosti</a>
                            <hr />
                            <a>Zbirka fotografija</a>
                            <hr />
                            <a>Zbirka negativa Ante Brkana</a>
                        </div>
                    </div>
                    <div class="uk-width-1-1@xs uk-width-1-2@s uk-width-1-3@m uk-width-1-1@l">
                        <div class="aside-div longer-div">
                            <h2>Izdanja Galerije umjetnika</h2>
                            <a>Izbor iz zbirki galerije umjetnina Nevenka Benini: More, Kamen, tišine,intima</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>